

:root {
  --basic-white: #ffffff;
  --basic-background:#F1F5F7;
  --basic-extra-black: #000000;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-neutral: #F9F5F0;
  --basic-red: #EE3643;
  --special-ylellow: #FFBF47;
  --special-green: #63A63E;
  --special-blue: #3BBCE3;
  --special-pink: #DC91D8;
  --spcial-lite-green: #8ED78F;
  --spcial-lite-black: #A9A9A9;
}

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
    background-color: var(--basic-background);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .header {
    background-color: var(--basic-extra-dark);  
  }

  .order {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-extra-dark);
  }
  .order,
  .order-button,
  .footer-link,
  .footer-social-list {
    list-style: none;
  }

  .order-button{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--special-green);
  }

  .order-button a:hover {
    background-color: var(--basic-extra-black);
  }

  .info-app {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: var(--basic-red);
  }

  .phone {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: var(--basic-red);
    background-color: transparent;
    border: 3px solid var(--basic-white)   
  }

  .login-link,
  .login-registration {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-extra-black);
    background-color: var(--basic-white);
  }

  .login-link:hover,
  .login-registration:hover {
    color: var(--basic-red);   
  }

  .login-link:active,
  .login-registration:active {
    color: #C5C5C5;   
  }
      
  
  /* Навигация сайта */

  .site-navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-dark);
    box-shadow: inset 0px -5px 0px #293449;
  }

  .site-navigation,
  .footer-social-list,
  .footer-catalog,
  .footer-navigation,
  .footer-social-list,
  .social-button {
    list-style: none;
  }

  .order a,
  .site-navigation a,
  .footer-catalog a,
  .footer-navigation a,
  .button {
    color: var(--basic-white);
  }


  .order a:hover {
    background-color: var(--basic-extra-black);
  }

  .order a:focus {
    background-color: var(--basic-extra-black);  
  }

  .order-button a:focus {
      background-color: #5FBB2D;

  }

  .site-navigation a:hover {
    background-color: var(--basic-extra-dark);
  }

  .site-navigation a:active {
    color: #FFFFFF;
    opacity: 0.5;
    background-color: #1D2739;
  }

  /* Контейнер категорий */

  .columns {
      color: var(--basic-extra-black);
      background-color: var(--basic-white);
  }

  .catalogue-list {
    background-color: var(--basic-white);
  }

  .catalog-item--material {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--special-ylellow);
  }

  .catalog-item--tool {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--special-blue);
  }

  .catalog-item--technology {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--special-pink);
  }

  .catalog-item--discount {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--spcial-lite-green);  
  }

  .catalog-item--delivery {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    background-color: var(--special-ylellow);
  }

  .catalog-item--perforator {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: var(--basic-extra-black);   
  }

  .description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
  }

  .button-move {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-white);
    text-transform: uppercase;
    border: none;
    background-color: rgb(255,255,255,0.3);  
  }

  .button-move:hover {
    background-color: rgb(197,197,197,0.3); 
  }

  .button-move:active {
    background-color: rgb(169,169,169,0.3); 
  }
    
  .button-move--red {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-red);  
    text-transform: uppercase; 
  }

  .button-move--red:hover {
    background-color: #CA2C37;
  }
  
  .button-move--red:active {
    background-color: #BA2732;
  }

  .catalogue-list {
    list-style: none;
  }

  /* Популярные товары. Популярные производители */

  .goods {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
    color: var(--basic-dark);
    background-color: var(--basic-neutral);
  }
  .red-button{
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase; 
    color: var(--basic-white);
    background-color: var(--basic-red);  
  }

  .container {
    background-color: var(--basic-white);
  }

  .card:hover {
    background-color: var(--basic-white);
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
  }

  .card {
    background-color: var(--basic-white);
    border: 1px solid #EAEAEA;
  }

  .title-card {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700; 
    color: var(--basic-extra-black);
  }

   .price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700; 
    text-decoration: line-through;
    color: var(--spcial-lite-black);
   }

   .discount-price {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700; 
    color: var(--basic-white);
    background-color: var(--basic-red); 
   }

   /* сервис */

   .service {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
    background-color: var(--basic-background);
  }

  .title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-extra-black);  
  }

  .text-info {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
  }

  .filter{
    font-size: 21px;
    line-height: 30px;
    font-weight: 700; 
    color: var(--basic-white);
    background-color: var(--basic-dark); 
  }

  .filter-menu-delivery {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700; 
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }

  .filter-menu-guarantee:hover,
  .filter-menu-credit:hover {
    background-color: var(--basic-extra-dark);
  }

  .filter-menu-guarantee:active,
  .filter-menu-credit:active {
    background-color: var(--basic-white);
  }

  .service {
    background-image: url(delivery-car.svg);
  }


  /* компании */

  .index-columns{
    background-color: var(--basic-white);
  }

  .company-list {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);  
  }

  /* футер */

  .main-footer {
    background-color: var(--basic-dark);
  }

  .footer-link {
    background-color: var(--basic-extra-dark);  
  }

  .footer-navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white); 
    background-color: var(--basic-dark) 
  }

  .footer-link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-white);
    text-align: right;
  } 

  .button a,
  .footer-catalog a {
    color: var(--special-ylellow);
  }

  .footer-social-list ul {
    list-style: none;
  }

  .footer-social-list {
    text-align: center;
  }

  .footer-company {
    text-align: left;
  }

  
  .social-button:hover,
  .social-button:active {
    background-color: var(--basic-red);
  }

  .button a:active {
    color: var(--basic-red)
  }

  .footer-navigation a:hover,
  .button :hover{
    text-decoration-line: underline;
  }

  .footer-navigation a:active {
    color: rgb(241,245,247,0.5);
  }
  

  
