

:root {
  --basic-white: #ffffff;
  --basic-background:#F1F5F7;
  --basic-extra-black: #000000;
  --basic-extra-dark: #293449;
  --basic-dark: #32425C;
  --basic-neutral: #F9F5F0;
  --basic-red: #EE3643;
  --special-ylellow: #FFBF47;
  --special-green: #63A63E;
  --special-blue: #3BBCE3;
  --special-pink: #DC91D8;
  --spcial-lite-green: #8ED78F;
  --spcial-lite-black: #A9A9A9;
}

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
    background-color: var(--basic-background);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page-body {
    min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .main-header {
    margin-bottom: 60px;
  }


  .main-navigation {
    display: grid;
  }

  .main-header-bar { 
    background-color: var(--basic-extra-dark);
    margin-bottom: 42px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    height: 49px;
    padding: 0;
    margin: 0;
  }


  /* Grid */

  .page {
    height: 100%;
  }

  /* .logo {
    display: grid;
    padding: 0;
    border: 0;
    margin-right: 20px;
  } */

  /* Вверхняя главная навигация */


  input {
    font-size: 18px;
    width: 400;
    height: 24px;
    color: var(--basic-white);
    background: #293449;
  }

  

  .page-header-top-logo {
    background-color: var(--basic-red); 
    box-shadow: inset 0px -5px 0px #9C2D36;
    padding: 12px 56px 17px 56px;
    margin-right: 20px;
  }

  .page-header-top-logo:active {
    background-color: #BA2732;  
  }
  
  .input:active {
    color: rgb(255,255,255,0.5);
    background-color: var(--basic-white);
  }

  .order-navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
  }

  

  .order-navigation,
  .order-button,
  .footer-link,
  .footer-social-list {
    list-style: none;
  }

  .order-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--special-green);
    padding: 9px 16px;
  }

  .order-button a:hover,
  .order-button a:focus {
    background-color: var(--basic-extra-black);
  }

  .order-button:active {
    color: rgb(255, 255, 255, 0.5);
    background-color: var(--special-green); 
  }

  /* Вверхние контакты */

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    width: 940px;
    margin: 0;
    padding: 0;
    justify-self: center;
  }

  .info-app {
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    font-style: italic;
    color: var(--basic-red);
  }

  .addres {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400; 
    color: var(--basic-dark);
  }

  .phone {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    color: var(--basic-red);
    background-color: transparent;
    width: 151px;
    height: 30px;
    padding: 7px 45px;
    border: 3px solid var(--basic-white)   
    
  }

  .login-link,
  .login-registration {
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-extra-black);
    background-color: var(--basic-white);
    width: 102px;
    height: 21px;
    padding: 12px 24px;
    margin: 46px 10px;
    justify-self: center;
  }

  .cabinet-order,
  .cabinet-personal {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-dark); 
  }

  .cabinet-order:hover,
  .cabinet-order:focus,
  .cabinet-personal:hover,
  .cabinet-personal:focus {
    color: var(--basic-red); 
  }

  .cabinet-order:active,
  .cabinet-personal:active {
    color: #C5C5C5; 
  }

  .login-link:hover,
  .logiin-link:focus,
  .login-registration:hover,
  .login-registration:focus {
    color: var(--basic-red);   
  }

  .login-link:active,
  .login-registration:active {
    color: #C5C5C5;   
  }
      
  
  /* Навигация сайта */

  .site-navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-dark);
    box-shadow: inset 0px -5px 0px #293449;
    width: 834px;
    margin: 0;
    padding: 16px 53px;
    justify-self: center;
  }

  .site-navigation,
  .footer-social-list,
  .footer-catalog,
  .footer-navigation,
  .footer-social-list,
  .social-button,
  .order-navigation {
    list-style: none;
  }

  .order-navigation a,
  .site-navigation a,
  .footer-catalog a,
  .footer-navigation a,
  .button {
    color: var(--basic-white);
  }


  .order-navigation a:hover,
  .order-navigation a:focus {
    background-color: var(--basic-extra-black);
  }

  .order-navigation a:active {
    color: rgb(255,255,255,0.5);
    background-color: #161D29; 
  }

  .order-button a:hover,
  .order-button a:focus {
    background-color: #5FBB2D;
  }

  .order-button a:active {
    color: rgb(255, 255, 255, 0.5);
    background-color: #63A63E;
  }

  /* Навигация сайта */

  .site-navigation a:hover,
  .site-navigation a:focus {
    background-color: var(--basic-extra-dark);
  }

  .site-navigation a:active {
    color: #FFFFFF;
    opacity: 0.5;
    background-color: #1D2739;
  }

  /* MAIN */

  .container {
    width: 940px;
    padding: 0px 10px;
    margin: 0 auto;
  }
 
  /* Контейнер категорий */

  .catalogue-list {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-white);
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 123px 123px 123px;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
  }


  .catalog-item-material {
    background-color: var(--special-ylellow);
  }

  .catalog-item-tool {
    background-color: var(--special-blue);
  }

  .catalog-item-technology {
    background-color: var(--special-pink);
  }

  .catalog-item-discount {
    background-color: var(--spcial-lite-green);
    display: grid;
      
  }

  .catalog-item-delivery {
    background-color: var(--special-ylellow);
  }

  .catalog-item-perforator {
    color: var(--basic-extra-black);
    grid-column: 1 / 3;
    grid-row: 2 / 4;  
  }

  .description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
  }

  .button-move {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-white);
    text-transform: uppercase;
    border: none;
    background-color: rgb(255,255,255,0.3);  
  }

  .button-move:hover,
  .button-move:focus {
    background-color: rgb(197,197,197,0.3); 
  }

  .button-move:active {
    background-color: rgb(169,169,169,0.3); 
  }

  .button-move--red:hover,
  .button-move--red:focus {
    background-color: #CA2C37;
  }
  
  .button-move--red:active {
    background-color: #BA2732;
  }

  /* Популярные товары. Популярные производители */

  /* .goods {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
    color: var(--basic-dark);
    background-color: var(--basic-white);
  } */

  .goods {
    margin-top: 40px;
  }

  .main-container {
    margin-top: 40px;
  }

  .titile-block {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
    color: var(--basic-dark);
    background-color: var(--basic-neutral);
    width: 940px;
    display: grid;
    grid-template-columns: 1fr ;
    padding: 29px 14px 30px 30px;
  }
  
  

  .container-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0;
    margin: 70px 0;
  }

  .goods .card:active {
    opacity: 0.5;
  }

  .red-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase; 
    color: var(--basic-white);
    background-color: var(--basic-red);
    width: 144px;
    height: 18px; 
    padding: 10px 24px; 
  }

  .red-button:hover,
  .red-button:focus {
    background-color: #CA2C37;
  }

  .red-button:active {
    background-color: #BA2732;
  }

  .main-container {
    background-color: var(--basic-white);
  }
 
  .card {
    background-color: var(--basic-white);
    border: 1px solid #EAEAEA;
  }

  .card:hover, 
  .card:focus {
    background-color: var(--basic-white);
    border: 1px solid #EAEAEA;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
  }

  .title-card {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700; 
    color: var(--basic-extra-black);
  }

   .price {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700; 
    text-decoration: line-through;
    color: var(--spcial-lite-black);
   }

   .discount-price {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700; 
    color: var(--basic-white);
    background-color: var(--basic-red); 
   }

   /* СЕРВИС */

   .service {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
  }

  .service {
    background-color: var(--basic-background);
  }
  
  .title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-extra-black);  
  }

  .text-info {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black);
  }


  .filter {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700; 
    color: var(--basic-white);
    background-color: var(--basic-dark); 
  }

  .filter {
    width: 240px;
  }

  .filter-menu-delivery {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700; 
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }

  .filter-menu-guarantee:hover,
  .filter-menu-guarantee:focus,
  .filter-menu-credit:hover,
  .filter-menu-credit:focus {
    background-color: var(--basic-extra-dark);
  }

  .filter-menu-guarantee:active,
  .filter-menu-credit:active {
    color: var(--basic-dark);
    background-color: var(--basic-white);
  }


  .section-banner {
    display: grid;
    grid-template-columns: 240px 1fr;
    margin: 0;
    padding: 0;
  }

  .title-info {
    padding-left: 40px;
  }


  /* компании */


  .index-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .company {
    width: 460px;
    padding: 0 189px 0 0;
  }

  .company-list {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-extra-black); 
  }

  /* футер */

  .main-footer {
    background-color: var(--basic-dark); 
  }

  .main-footer-bar {
    width: 940px; 
    padding: 0;
    margin: 0 auto;
  }

  .footer-navigation {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
  }

  .footer-navigation {
    display: grid; 
  }

  
  .footer-link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-white);
    text-align: right;
  } 
  .footer-link {
    background-color: var(--basic-extra-dark);
    width: 940px;
  }
  .footer-link {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top: 54px;
    padding: 36px 0; 
    margin: 0 auto;
  }

  .button a,
  .footer-catalog a {
    color: var(--special-ylellow);
  }

  .footer-social-list ul {
    list-style: none;
  }

  .footer-social-list {
    text-align: center;
  }

  .footer-company {
    text-align: left;
  }

  .social-button:hover,
  .social-button:focus,
  .social-button:active {
    background-color: var(--basic-red);
  }

  .footer-navigation a:hover,
  .footer-navigation a:focus,
  .button-more:hover,
  .button-more:focus {
    text-decoration-line: underline;
  }

  .button-more a:active,
  .button a:active {
    text-decoration-line: none; 
    color: var(--basic-red);
  }

  .footer-navigation a:active {
    color: rgb(241,245,247,0.5);
    text-decoration-line: none;
  }






  /* СТРАНИЦА КАТОЛОГА */

  .inner-page {
    background-color: var(--basic-white); 
  }

  .main-header {
    background-color: var(--basic-background); 
  }


  .cart {
    background-color: var(--basic-red); 
  }

  .cabinet-list-order,
  .cabinet-personal {
    font-size: 16px; 
    color: var(--basic-dark);
  }

  .title-section {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
    color: var(--basic-dark);
    background-color: var(--basic-background); 
  }

  /* Хлебные крошки*/

  .breadcrumbs {
    list-style: none;
  }

  .breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;
  }

  .text {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark);
    background-color: var(--basic-background);
  }

  /* Фильтр */

  .sorting-list {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-dark);
    list-style: none;
    text-transform: uppercase; 
    background-color: #F7F3EC;
  }

  .sorting-item {
    color: rgb(0,0,0,0.3);
    cursor: pointer;
  }

  .sorting-item:not(.sorting-item-active):hover,
  .sorting-item:focus {
    color: var(--basic-dark);
  }

  .sorting-item:not(.sorting-item-active):active {
    color: var(--basic-red);
  }

  .sorting-item-active {
    color: var(--basic-red);
  }

  /* Боковой фильтр */

  .catalog-filter legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-dark);
  }

  .catalog-filter input {
    font-size: 15px;
    line-height: 119px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase; 
  }


  .catalog-filter input:hover,
  .catalog-filter input:focus {
    color: var(--basic-dark); 
  }

  .catalog-filter input:active {
    color: rgb(0,0,0,0.4); 
  }

  .filter-button {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;  
    border: 1px solid #EAEAEA;
    list-style: none; 
  }

  .filter-button:hover,
  .filter-button:focus {
    border: 1px solid #C5C5C5;
  }

  .filter-button:active {
    border: 1px solid #EE3643;
  }
  

  /* Пагинация */
  
  .pagination-item {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: var(--basic-dark);
    text-transform: uppercase;  
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    list-style: none;
  }

  .pagination-item:hover,
  .pagination-item:focus {
    border: 1px solid #C5C5C5;
    border-radius: 2px;
  }

  .pagination-item:active {
    border: 1px solid #EE3643;
    border-radius: 2px;
  }

  .pagination-item-active {
    color: var(--basic-white);
    background-color: var(--basic-red)
  }

  .aside {
    background-color: var(--basic-background);
  }

 



  

  
  

  
